<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body bgcolor="#ff69b4">
<center><form action="./insert/" method="get">

        Enter Product id: <input type="text" name="t1"><br>
    <br>
        Enter Product name: <input type="text" name="t2"><br>
    <br>
        Enter Product cost: <input type="text" name="t3"><br>
    <br>
        Enter Product mfdt: <input type="text" name="t4"><br>
    <br>
        Enter Product expdt: <input type="text" name="t5"><br>
    <br>

<input type="submit" value="Insert">


</form>
</center>
</body>
</html>